table{width:auto;}
*{
    font-size: 9pt;
    font-style: normal;
}

th{
    height:30px;
    font-weight: normal;
}

td{
    height:30px;
}

#settingTitle{
    height:36px;
    line-height:36px;
    background:#ebf1f5;
    padding-left:12px;
}

#commander-setting-container{
    margin:21px 18px 0px 18px;
}
#settingContainer{
    position: absolute;
    top: 0px;left: 0px;right: 0px;bottom: 0px;
    overflow-y: auto;
    padding:21px 20px 0px 20px;
}

#firstNavigationPanel {
    height: 24px;
}

.commander-sub-container
{
    position: absolute;
    left: 18px;
    right: 18px;
    top: 120px;
    bottom: 20px;
    overflow-y:auto;
}
.node-sub-container{ position: absolute; left: 18px;right: 18px;top: 60px;bottom: 20px;}
.container-with-border{border:1px solid #ccccd1;position: absolute; left: 0px;right: 0px;top: 0px;bottom: 0px;}
.info-container{padding:24px 58px;}
.info-title{color:#00a9e6;}
.tbl-info-container{padding-left:50px;}
.tbl-info{margin:14px 0px;}
.firstClassNav{
    float: left;
    width: 90px;
    height:24px;
    line-height:24px;
    vertical-align:bottom;
    cursor:pointer;

    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    text-align:center;

    background: #ffffff;
}

.firstClassNav-adjust{
    width:auto;
    padding: 0px 10px;
}

.firstClassNavActive {
    color:#ffffff;
    background-color: #00bbff;
}

/* host setting page*/
#itemList{
    padding:10px 0px 10px;
}

div.center{
    text-align:center;
}

div.itemBox{
    float:left;
    margin:25px 35px;
    width:100px;
    text-align:center;
}
input.item{
    width:80px;
    height:25px;
    font-size: 10pt;
    background:#ebf1f5;
    border:none;
}

#secondNavigationPanel {
    height: 66px;
}

/* network setting tab page */
div#secondNavigationPanel .secondClassNav{
    float: left;
    display: inline-block;
    cursor: pointer;
    width:100px;
    height:30px;
    line-height:30px;

    text-align:center;
    font-size:9pt;
    background: #f7f7f7;
    border-top: 1px solid #ccccd1;
    /*border-bottom: 1px solid #ccccd1;*/
    border-left: 1px solid #ccccd1;
}

div#secondNavigationPanel .secondClassNavActive{
    color: #02bcff;
}

div#secondNavigationPanel div.last {
    border-top: 1px solid #fff;
    border-bottom: 0px;
    background: transparent;
}

div#secondNavigationPanel hr.second-nav-bar-hr {
    margin-top: -1px;
    height: 1px;
    border: none;
    border-top: 1px solid #ccccd1;
}

.secondClassNavActive .tab_name {
    text-align: center;
    color:#ffffff;
}
.cm_fieldError{
    color:red;
}

#loggingmain{
    border:1px solid #ccccd1;
    position:absolute;
    left:0px;right:0px;top:30px;bottom:0px;
    padding-top:20px;
}

#main{
    border:1px solid #ccccd1;
    position:absolute;
    left:0px;right:0px;top:30px;bottom:0px;
    padding-top:20px;
}

#eth{
    overflow:hidden;
    height:100%;
}

#ethTabList{
    float:left;
    background:#e8e8e8;
    width:170px;
    height:100%;
}

.ethTab{
    height:32px;
    vertical-align:bottom;
    font-size:9pt;
    padding:8px 10px;
    cursor:pointer;
    border-bottom:1px solid #dddddd;
}

.ethTab img{
    float:left;

}

.ethTabActive{
    background:#ffffff !important;
}

.ethContent{
    float:left;
    padding-top:10px;
    padding-left:50px;
    padding-bottom:1000px;
    margin-bottom:-1000px;
}

tr {
    font-size:10pt;
}

td.ethLabel {
    padding:9px;
    text-align:right;
    height:24px;
    width: 100px;
}

td.ethVal {
    padding:0 5px;
}

td.ethVal > select {
    width:155px;
    height:22px;
    line-height:18px;
    padding:2px 0;
}

td.ethVal > input[type=text]{
    width:155px;
    height:20px;
    line-height:20px;
}

.submitBtn{
    margin-top:10px;
    margin-bottom:25px;
    width:107px;
    font-size:9pt;
}

.alert{
    color:red;
    display:none;
}

a.deleteBtn {
    width:40px;
    height:40px;
    display: block;
    background: url(../png/delet_n.png) no-repeat scroll 0px 0px;

}

a.deleteBtn:hover {
    background:url("../png/delet_n.png") no-repeat scroll 0px 0px;
    cursor:pointer;
}

/*time setting*/
div#timePanel button{
    font-size:9pt;
    width:102px;
}

div#btnPanel{
    margin-top:50px;
    width:700px;
    text-align:center;
}

#btnAdd{
    margin-left:20px;
}

#timezonePanel select{
    width:200px;
}

#zoneSelector option{
    padding-left:20px;
}

div#timePanel input[type=text]{
    width:180px;
}

div.setting-item-container{
    position:relative;
    border:1px solid #e5e5e5;
    padding-bottom:10px;
    margin-bottom:20px;
    margin-top:10px;
}

div.setting-item-title{
    position:relative;
    left:20px;top:-10px;width:80px;
    background:#fff;
    text-align:center;

}
.setting-tbl-header{background:#f5f6fa}

.grid_line {
    border-bottom: 1px solid lightgray;
    height: 30px;
    line-height: 30px;
}

.grid_title {
    font-weight: bold;
    text-align: center;
}

.tbl-action{color: #1F84CA;padding:0px 1px;}

.commander-sub_actions {	float:right;padding-bottom: 20px;}
.commander-sub_actions::after{clear:both;}
.commander-sub_actions input{width:100px;}
.license_view_label {
    width:110px;
    text-align: right;
    padding: 0px 5px;
}

.license_view_data {
    padding: 0px 5px;
}

.license_error_message {
    color: red;
    text-align: center;
    padding: 0px 5px;
}

#licenseFile {
    height: 23px;
}

#btnUpdateLicense {
    margin-top: 10px;
    width: 80px;
    height: 24px;
}

.line-placeholder{height:20px;}

/*firewall*/
#input_dport{
    width:128px;
    height:23px;
}

button{
    width:85px;
    height:23px
}

select.port_type{
    width:108px;
    height:23px;
}

.table_onOff{
    border-collapse:collapse;
}

#lable{
    padding:0px 16px 0px 0px;
}

.radio_onOff{
    padding:0px 10px 0px 0px;
}

#td_on{
    padding:0px 8px 0px 0px;
}

#td_on_text{
    padding:0px 30px 0px 0px;
}

#td_off{
    padding:0px 8px 0px 0px;
}

.td_error{
    color:red;
}
/*--end firewall */

